body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-space {
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.line-space {
  margin-top: 30px;
}

.flex-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading {
  font-family: "Courier, monospace";
  font-family: 50px;
  font-weight: bold;
}

.secondary-heading {
  font-family: "Courier, monospace";
  font-size: 40px;
}

.third-heading {
  font-family: "Courier, monospace";
  font-size: 30px;
}
